html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.play {
  background-color: #3696e0; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  margin:auto;
}

.play:hover {
  background-color: #29597d;
}

.name {
  background-color: #3696e0; 
  border: none;
  color: white;
  padding: 4px 12px;
  text-align: center;
  font-size: 12px;
  border-radius: 4px;
}

.name:hover {
  background-color: #29597d;
}

